.pd-10 {
    padding: 10px 20px 0 0;
}

label.error {
    color: rgb(179 10 10);
}

.modal-alert-danger {
    padding: 10px 35px;
    margin-bottom: 15px;
    color: #842029;
    background-color: #ffd4d9;
    border-color: #ff8692;
}

.modal-alert-danger label {
    display: list-item;
}

.hide {
    display: none;
}